# Environment file to set up different instances of this project
# Default values are in the comments, uncommented vars are mandatory and have no default

# Project name, so that several instances can run at the same time
# COMPOSE_PROJECT_NAME=agilitycontest

# Directories for this instance
# CONFIG_DIR=./config
# LOGS_DIR=./logs

# Port numbers for application and phpMyAdmin
# PORT=443
# ADMIN_PORT=8000

# MySql parameters (database name, normal user credentials and root password), they are mandatory
MYSQL_DATABASE=agility
MYSQL_USER=agility_operator
MYSQL_PASSWORD=operator@cachorrera
MYSQL_ROOT_PASSWORD=admin@cachorrera